{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{ product.name }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{{ product.image.url }}" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <h4>{{ product.name }}</h4>
          <span class="price"><em>{{ product.price }}</em>{{ product.sell_price }}</span>
          <p>{{ product.description }}</p>
          <form action="{% url 'cart:cart_add' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="product_id" value="{{ product.id }}">
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit">
                  <i class="fa fa-shopping-bag"></i> ДОБАВИТЬ В КОРЗИНУ
              </button>
          </form>

          <ul>
            <li><span>ID ИГРЫ:</span>{{ product.id }}</li>
            <li><span>ЖАНР:</span> <a href="#">{{ product.category }}</a>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="sep"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Описание</button>
                  </li>
                </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <p>{{ product.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Copyright © 2024 Serzhan Private Company. All rights reserved. &nbsp;&nbsp; <a rel="nofollow" href="https://templatemo.com" target="_blank">Design: Serzhan</a></p>
      </div>
    </div>
  </footer>

  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/js/bootstrap.min.js" %}"></script>
  <script src="{% static "assets/js/isotope.min.js" %}"></script>
  <script src="{% static "assets/js/owl-carousel.js" %}"></script>
  <script src="{% static "assets/js/counter.js" %}"></script>
  <script src="{% static "assets/js/custom.js" %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("form").submit(function(event) {
            // Предотвращаем стандартное действие отправки формы
            event.preventDefault();

            // Отправляем данные формы асинхронно
            $.ajax({
                type: $(this).attr("method"),
                url: $(this).attr("action"),
                data: $(this).serialize(),
                success: function(response) {
                    // Обновляем элемент корзины на странице
                    $("#cart-items").html(response.cart_items_html);
                    // Выводим сообщение о добавлении товара
                    alert(response.message);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

{% endblock  %}