{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.bg-blue {
    background-color: #007bff; /* Цвет фона: голубой */
    /* Дополнительные стили для фона, если необходимо */
}

.custom-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Настройка тени, если нужно */
}
</style>
<div class="row bg-blue">
  <div class="container mt-5 bg-blue">
    <br>
      <div class="row justify-content-center bg-blue">
          <div class="col-md-6">
            <br>
            <br>
            <br>
              <h2 class="text-center mb-4 bg-blue">Смена пароля</h2>
              <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                      {{ form.old_password.label_tag }}
                      {{ form.old_password }}
                  </div>
                  <div class="mb-3">
                      {{ form.new_password1.label_tag }}
                      {{ form.new_password1 }}
                  </div>
                  <div class="mb-3">
                      {{ form.new_password2.label_tag }}
                      {{ form.new_password2 }}
                  </div>
                  <button type="submit" class="btn btn-primary bg-black">Сменить пароль</button>
              </form>
          </div>
      </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
{% endblock %}
