{% extends "base.html" %}
{% load static %}
<body>
{% block content %}
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="caption header-text">
            <h6>Добро пожаловать в lugx</h6>
            <h2>ЛУЧШИЙ ИГРОВОЙ САЙТ!</h2>
            <p>Добро пожаловать в наш магазин игр, выберите категорию игр или воспользуйтесь поиском, чтобы найти желаемую игру. Мы готовы помочь вам найти увлекательные приключения, захватывающие сражения и многое другое!</p>
            <div class="search-input">
              <form id="search" action="#">
                <input type="text" placeholder="Напишите Что-нибудь" id='searchText' name="searchKeyword" onkeypress="handle" />
                <button role="button">Ищи сейчас</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-2">
          <div class="right-image">
            <img src="{% static "assets/images/cyber.jpg" %}" alt="">
            <span class="price">$20</span>
            <span class="offer">-50%</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="{% static "assets/images/featured-01.png" %}" alt="" style="max-width: 44px;">
              </div>
              <h4>Бесплатное хранилище</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="{% static "assets/images/featured-02.png" %}" alt="" style="max-width: 44px;">
              </div>
              <h4>Больше пользователей</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="">
            <div class="item">
              <div class="image">
                <img src="{% static "assets/images/featured-03.png" %}" alt="" style="max-width: 44px;">
              </div>
              <h4>Готовые повторы</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="{% static "assets/images/featured-04.png" %}" alt="" style="max-width: 44px;">
              </div>
              <h4>Простая планировка</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section trending">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Тренды</h6>
            <h2>Трендовые игры</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="{% url "main:shop" %}">Посмотреть Все</a>
          </div>
        </div>
        {% for product in products %}
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'assets/images/default-product.png' %}{% endif %}" alt="{{ product.name }}" width="200" height="250">
                        <span class="price"><em>${{ product.price }}</em>${{ product.sell_price }}</span>
                    </div>
                    <div class="down-content">
                        <span class="category">{{ product.category.name }}</span>
                        <h4>{{ product.name }}</h4>
                        <a href="{% url "catalog:product" product.slug %}"><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="section most-played">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>ЛУЧШИЕ ИГРЫ</h6>
            <h2>Самые Популярные</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="{% url "main:shop" %}">Посмотреть Все</a>
          </div>
        </div>
         {% for product in products_2 %}
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="item">
                    <div class="thumb">
                        <a href="">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'assets/images/default-product.png' %}{% endif %}" alt="{{ product.name }}"  width="300" height="200"">
                        </a>
                    </div>
                    <div class="down-content">
                        <span class="category">{{ product.category }}</span>
                        <h4>{{ product.name }}</h4>
                        <a href="">Купить</a>
                    </div>
                </div>
            </div>
          {% endfor %}
    </div>
  </div>

  <div class="section categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Категории</h6>
            <h2>Лучшие категории</h2>
          </div>
        </div>
      {% for category in cat %}
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>{{ category.name }}</h4>
            <div class="thumb">
              <a href="#"><img src="{{ category.image.url }}" alt="{{ category.name }} width="300" height="250"></a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
    <!-- Не надо изменять -->
  <div class="section cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="shop">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Наш магазин</h6>
                  <h2>Перейти к предзаказу Лучшие <em>Цены</em> Для Тебя!</h2>
                </div>
                <p>Оформите предзаказ и погрузитесь в увлекательный мир приключений, наполненный захватывающим сюжетом, уникальными персонажами и неожиданными поворотами событий!</p>
                <div class="main-button">
                  <a href="{% url "main:shop" %}">Купить сейчас</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-2 align-self-end">
          <div class="subscribe">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>НОВОСТИ</h6>
                  <h2>Получите скидку до 100 долларов <em></em> Новостная рассылка!</h2>
                </div>
                <div class="search-input">
                  <form id="subscribe" action="#">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваша почта...">
                    <button type="submit">Подпишись Сейчас</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
  <script src="{% static "assets/js/isotope.min.js" %}"></script>
  <script src="{% static "assets/js/owl-carousel.js" %}"></script>
  <script src="{% static "assets/js/counter.js" %}"></script>
  <script src="{% static "assets/js/custom.js" %}"></script>

{% endblock  %}





